body {
  background-color: #eee;
}

#creep {
  position: absolute;
}

#login-form {
  background-color: #eee;
  position: absolute;

  box-sizing: border-box;
  border: 2px solid #65bcd4;
}

::placeholder {
  color: #bbb;
}

#username, #password, #login-button {
  position: absolute;
}

#username, #password {
  box-sizing: border-box;
  border: 2px solid #e3e3e3;
  padding: 0 5px;
  line-height: 20px;
  color: #777;
}

#username:focus, #password:focus {
  outline: 0;
  border: 2px solid #65bcd4;
}

#login-button {
  border: none;
  color: white;
  background-color: #65bcd4;
  cursor: pointer;
}

#login-button:focus {
  outline: 0;
}

#login-button:hover {
  background-color: #3289a1;
}

@media (max-width: 450px) {
  #creep {
    width: 260px;
    height: 50px;
    top: calc(50% - 128px);
    left: calc(50% - 130px);
  }

  #login-form {
    width: 300px;
    height: 205px;
    left: calc(50% - 150px);
    top: calc(50% - 78px);
  }

  #username {
    top: 24px;
  }

  #password {
    top: 83px;
  }

  #login-button {
    top: 142px;
  }

  #username, #password, #login-button {
    left: 24px;
    width: 248px;
    height: 35px;
    font-size: 18px;
  }
}

@media (min-width: 450px) {
  #creep {
    width: 350px;
    height: 67px;
    top: calc(50% - 203px);
    left: calc(50% - 175px);
  }

  #login-form {
    width: 400px;
    height: 272px;
    left: calc(50% - 200px);
    top: calc(50% - 136px);
  }

  #username {
    top: 32px;
  }

  #password {
    top: 110px;
  }

  #login-button {
    top: 190px;
  }

  #username, #password, #login-button {
    left: 24px;
    width: 352px;
    height: 45px;
    font-size: 24px;
  }
}
