#messages {
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

#messages > * {
  display: none;
}

#messages.loading > .loader {
  display: inline-block;
  margin: 10px auto;
}

#messages.failed > .error {
  display: inline-block;
}

#messages.loaded > .chat-log {
  display: block;
}